<html>
    <head>
    </head>
    <body>
        <p>This is the data from the database</p>
        <% @dbresults.each do |row| %>
          <% row.each do |att| + '|' %>
            <%=att %>
          <%end%>
          <br>
        <%end%>
    </body>
</html>